/* line 1, ../../sass/sass/forms.scss */
.form-inline .form-group {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px 5px 5px;
}

/* line 7, ../../sass/sass/forms.scss */
.form-holder {
  background-color: lightyellow;
  max-width: 600px;
}

/* line 12, ../../sass/sass/forms.scss */
.search-form label {
  display: block;
}

/* line 16, ../../sass/sass/forms.scss */
.search-form .small {
  width: 100px;
}

/* line 20, ../../sass/sass/forms.scss */
.search-form .large {
  width: 200px;
}

/* line 24, ../../sass/sass/forms.scss */
.search-form .middle {
  width: 150px;
}

/* line 28, ../../sass/sass/forms.scss */
.search-form input, .search-form select {
  height: 25px;
}

/* line 32, ../../sass/sass/forms.scss */
.search-form input[type="submit"] {
  background: url("../../images/search-button-eng.jpg") no-repeat scroll -3px 1px transparent;
  cursor: pointer;
  height: 50px;
  width: 186px;
  text-align: left;
  text-indent: -1000px;
  border: none;
}

/* line 42, ../../sass/sass/forms.scss */
.search-form input[type="submit"]:hover {
  background: url("../../images/search-button-eng.jpg") no-repeat scroll -3px -91px transparent;
}
