/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/sass/skin.scss */
body {
  color: #212121;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F0F0;
}

/* line 9, ../../sass/sass/skin.scss */
.main {
  width: 990px;
  min-height: 500px;
  margin: 0 auto;
}

/* line 15, ../../sass/sass/skin.scss */
.header {
  background-color: #28292d;
  min-height: 160px;
}

/* line 20, ../../sass/sass/skin.scss */
.header-title:hover {
  text-shadow: 3px 3px lightslategrey;
}

/* line 24, ../../sass/sass/skin.scss */
.body-content {
  background-color: white;
  min-height: 600px;
}

/* line 29, ../../sass/sass/skin.scss */
.footer {
  background-color: #28292d;
  color: white;
  width: 990px;
  bottom: 0;
  min-height: 80px;
}

/* line 37, ../../sass/sass/skin.scss */
.copyright {
  margin-top: 30px;
}

/* line 41, ../../sass/sass/skin.scss */
.footer-logo {
  margin-top: 10px;
  margin-left: 50px;
}

/* line 46, ../../sass/sass/skin.scss */
.privacy_policy {
  margin-top: 30px;
  margin-left: 400px;
}

/* line 51, ../../sass/sass/skin.scss */
.terms-of-use {
  margin-top: 30px;
  margin-left: 100px;
}

/* line 56, ../../sass/sass/skin.scss */
.navigation .list li {
  float: left;
  margin: 2px 2px 2px 1px;
  border-right: 2px solid blue;
  padding: 5px 10px;
}

/* line 63, ../../sass/sass/skin.scss */
.search-content {
  min-height: 250px;
  padding: 20px 20px 0 20px;
}

/* line 68, ../../sass/sass/skin.scss */
.data-content {
  max-width: 640px;
  padding: 20px;
}

/* line 73, ../../sass/sass/skin.scss */
.data-content-list li {
  border: 1px solid green;
  padding: 2px;
  text-align: center;
  margin: 5px 5px 5px 5px;
  position: relative;
}

/* line 81, ../../sass/sass/skin.scss */
.data-content-list img {
  width: 144px;
  height: 108px;
  overflow: hidden;
}

/* line 87, ../../sass/sass/skin.scss */
.data-content-list .price {
  position: absolute;
  right: 0px;
  padding: 4px;
  background-color: orange;
}

/* line 94, ../../sass/sass/skin.scss */
.search-content .search-navigation li {
  float: left;
  padding: 5px 10px;
  background-color: #e7e7e7;
}

/* line 100, ../../sass/sass/skin.scss */
.search-content .active {
  background-color: #F4F4F4 !important;
}

/* line 104, ../../sass/sass/skin.scss */
.banner-tard-picture {
  width: 300px;
  margin-left: 20px;
}

/* line 109, ../../sass/sass/skin.scss */
.head-news {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background-color: #F0F0F0;
  font-size: 14px;
  max-width: 240px;
}

/* line 117, ../../sass/sass/skin.scss */
.head-news li {
  padding: 3px;
  color: #28292d;
  margin-bottom: 5px;
}

/* line 123, ../../sass/sass/skin.scss */
.header-pic {
  width: 250px;
  height: 160px;
  opacity: 0.5;
}

/* line 129, ../../sass/sass/skin.scss */
.header-pic:hover {
  opacity: 1;
}

/* line 133, ../../sass/sass/skin.scss */
.header-title {
  font-family: 'Iglesia-Light';
  color: white;
  font-size: 24px;
  margin: 50px 50px 20px 50px;
}

/* line 140, ../../sass/sass/skin.scss */
.search-content-minimized {
  border: 2px solid lightblue;
  margin: 5px 5px 5px 5px;
  min-height: 600px;
  width: 200px;
}

/* line 147, ../../sass/sass/skin.scss */
.found-cars {
  margin: 15px 15px 15px 15px;
  min-height: 600px;
  width: 550px;
}

/* line 153, ../../sass/sass/skin.scss */
.found-cars-banners {
  min-height: 600px;
  width: 180px;
}

/* line 158, ../../sass/sass/skin.scss */
.found-cars-banners img {
  width: 170px;
  height: 170px;
}

/* line 163, ../../sass/sass/skin.scss */
.found-cars-header {
  background-color: #F4F4F4;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 170, ../../sass/sass/skin.scss */
.found-cars-nav {
  background-color: #F4F4F4;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 10px;
}

/* line 177, ../../sass/sass/skin.scss */
.found-car {
  background-color: #F4F4F4;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 10px;
  min-height: 150px;
}

/* line 185, ../../sass/sass/skin.scss */
.found-car:hover {
  background-color: lightpink;
}

/* line 189, ../../sass/sass/skin.scss */
.found-car-header {
  position: relative;
  margin: 5px 5px 20px 5px;
}

/* line 194, ../../sass/sass/skin.scss */
.found-car-price {
  position: absolute;
  right: 0px;
  padding: 4px;
  background-color: orange;
}

/* line 201, ../../sass/sass/skin.scss */
.found-car-image {
  width: 200px;
}

/* line 205, ../../sass/sass/skin.scss */
.found-car-image img {
  width: 144px;
  height: 108px;
  overflow: hidden;
}

/* line 211, ../../sass/sass/skin.scss */
.found-car-desc {
  width: 300px;
}

/* line 215, ../../sass/sass/skin.scss */
.found-car-picture-quantity {
  margin-top: 10px;
  font-size: 12px;
}

/* line 220, ../../sass/sass/skin.scss */
.car-content {
  margin: 5px 5px 5px 5px;
  min-height: 600px;
  width: 800px;
}

/* line 226, ../../sass/sass/skin.scss */
.car-header {
  font-size: 20px;
  margin: 15px 15px 15px 15px;
  padding: 15px;
}

/* line 232, ../../sass/sass/skin.scss */
.car-content-nav-title {
  width: 138px;
  text-align: center;
  font-size: 16px;
  color: #ffa210;
  border: 1px solid #ffa210;
  padding: 10px;
}

/* line 241, ../../sass/sass/skin.scss */
.car-content-nav-title:hover {
  background-color: #82c430;
  color: white;
}

/* line 246, ../../sass/sass/skin.scss */
.car-content-details-img {
  margin: 10px;
  width: 320px;
}

/* line 251, ../../sass/sass/skin.scss */
.car-content-details-img > div {
  margin: 10px 3px 4px 0px;
}

/* line 255, ../../sass/sass/skin.scss */
.car-content-details-list {
  width: 190px;
}

/* line 259, ../../sass/sass/skin.scss */
.car-content-details-list h2 {
  padding: 10px;
  background-color: orange;
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 16px;
  font-weight: bold;
}

/* line 269, ../../sass/sass/skin.scss */
.car-content-details-list ul li {
  margin: 5px;
}

/* line 273, ../../sass/sass/skin.scss */
.car-content-details-contact {
  background-color: #e7e7e7;
  border: 2px solid #d3d3d1;
  margin: 15px 5px 0 15px;
  width: 246px;
}

/* line 280, ../../sass/sass/skin.scss */
.car-content-details-contact li {
  margin: 10px;
}

/* line 284, ../../sass/sass/skin.scss */
.car-content-details-contact h2 {
  color: #EC9C1E;
  font-size: 16px;
  margin: 10px 10px 15px 15px;
  text-decoration: underline;
}

/* line 291, ../../sass/sass/skin.scss */
.car-content-details-contact p {
  color: #0066CC;
  margin: 10px;
}

/* line 296, ../../sass/sass/skin.scss */
.car-content-details-contact li {
  margin: 10px 10px 10px 30px;
}

/* line 300, ../../sass/sass/skin.scss */
.additional {
  width: 600px;
  margin: 15px;
}

/* line 306, ../../sass/sass/skin.scss */
.additional h2 {
  border-bottom: 1px solid green;
  color: goldenrod;
  font-size: 16px;
}

/* line 312, ../../sass/sass/skin.scss */
.additional-info ul li {
  margin: 10px;
}

/* line 316, ../../sass/sass/skin.scss */
.add-info1 {
  width: 400px;
}

/* line 320, ../../sass/sass/skin.scss */
.add-info2 {
  width: 200px;
}

/* line 324, ../../sass/sass/skin.scss */
.safety {
  width: 600px;
  height: 200px;
  margin: 15px;
}

/* line 330, ../../sass/sass/skin.scss */
.safety h2 {
  border-bottom: 1px solid green;
  color: goldenrod;
  font-size: 16px;
}

/* line 337, ../../sass/sass/skin.scss */
.safety ul li {
  list-style: disc;
  margin: 10px;
  height: 20px;
  float: left;
}

/* line 1, ../../sass/sass/utils.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 10, ../../sass/sass/utils.scss */
.clearfix {
  display: inline-block;
}

/* line 14, ../../sass/sass/utils.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 18, ../../sass/sass/utils.scss */
* html .clearfix {
  height: 1%;
}

/* line 22, ../../sass/sass/utils.scss */
.right {
  float: right;
}

/* line 26, ../../sass/sass/utils.scss */
.left {
  float: left;
}

/* line 30, ../../sass/sass/utils.scss */
.display-inline {
  display: inline;
}

/* line 34, ../../sass/sass/utils.scss */
.inline-list li {
  float: left;
}

/* line 1, ../../sass/sass/forms.scss */
.form-inline .form-group {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px 5px 5px;
}

/* line 7, ../../sass/sass/forms.scss */
.form-holder {
  background-color: lightyellow;
  max-width: 600px;
}

/* line 12, ../../sass/sass/forms.scss */
.search-form label {
  display: block;
}

/* line 16, ../../sass/sass/forms.scss */
.search-form .small {
  width: 100px;
}

/* line 20, ../../sass/sass/forms.scss */
.search-form .large {
  width: 200px;
}

/* line 24, ../../sass/sass/forms.scss */
.search-form .middle {
  width: 150px;
}

/* line 28, ../../sass/sass/forms.scss */
.search-form input, .search-form select {
  height: 25px;
}

/* line 32, ../../sass/sass/forms.scss */
.search-form input[type="submit"] {
  background: url("../../images/search-button-eng.jpg") no-repeat scroll -3px 1px transparent;
  cursor: pointer;
  height: 50px;
  width: 186px;
  text-align: left;
  text-indent: -1000px;
  border: none;
}

/* line 42, ../../sass/sass/forms.scss */
.search-form input[type="submit"]:hover {
  background: url("../../images/search-button-eng.jpg") no-repeat scroll -3px -91px transparent;
}

/* line 1, ../../sass/sass/buttons.scss */
.btn-primary {
  cursor: pointer;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
