$header-color :#28292d;
$body-content-color: white;
$footer-color: #28292d;

//z indexi 10

//fontovi
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-xxl: 18px;
$font-size-xxl: 18px;
$font-size-3xl: 20px;
$font-size-7xl: 24px;