$header-color :#28292d;
$body-content-color: white;
$footer-color: #28292d;
$main-content-color: #e7e7e7;
$main-content-active: #F4F4F4;
$price-color: orange;
$car-hover-color: lightpink;
$car-nav-color: #ffa210;



$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-xxl: 18px;
$font-size-xxl: 18px;
$font-size-3xl: 20px;
$font-size-7xl: 24px;
